section {
  font-family: "Poppins", sans-serif;
  padding: 5rem 0;
}

section:nth-child(2n) {
  background-color: #f8f8f8;
}

section .title {
  margin-bottom: 3rem;
}

section .title h4 {
  font-size: 1.35rem;
  color: #ed4848;
}

section .title h2 {
  font-size: 2.5rem;
}

section .about-self .left {
  float: left;
  width: 50%;
}
section .about-self .left img {
  width: 100%;
}

section .about-self .right {
  float: right;
  padding-left: 4rem;
  width: 50%;
  height: 100%;
}

section .about-self .right h3 {
  font-size: 1.5rem;
}

section .about-self .right p {
  margin: 1rem 0;
  font-size: 1.15rem;
}

section .about-self .right h3 span {
  color: #ed4848;
}

section .about-self .right .social a {
  display: inline-block;
  font-size: 2rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
