main {
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../images/sejong.png);
  background-position: center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

main h4 {
  font-size: 2rem;
}

main h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 3.5rem;
  margin: 2rem 0;
  letter-spacing: 3px;
}

main h2 span::after {
  content: "";
  display: inline-block;
  height: 40px;
  width: 3px;
  background-color: white;
  margin-left: 8px;
  animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main p {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.2rem;
}

main .mainbutton {
  background: transparent;
  border-radius: 20px;
  border: 3px solid white;
  padding: 15px 20px;
  margin-top: 30px;
  font-weight: bold;
}

main .mouse {
  border: none;
  background: transparent;
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
  animation-name: upDown;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes upDown {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 1.5rem;
  }
  100% {
    bottom: 1rem;
  }
}
